<h1>Landmarks</h1>
<table>
  <th>Name</th>
  <th>Year Completed</th>

<tr>
  <% Landmark.all.each do |landmark| %>
    <td><%= landmark.name %></td>
    <td>Completed in <%= landmark.year_completed %></td><br>
  <% end %>
</tr>
</table>
