<h1><%= @figure.name %></h1>

  <h3>Title:</h3>
    <% @figure.titles.each do |title| %>
      <%= "#{title.name}" %>
      <br>
    <% end %><br>

  <h3>Landmark:</h3>
    <% @figure.landmarks.each do |landmark| %>
      <%= "#{landmark.name}" %>
      <br>
    <% end %><br>
